<a href="https://colab.research.google.com/github/christian-alexis/edd_1310_2021/blob/master/01octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico 

esculea = "Fes Aragon"

In [1]:
escuela = "Fes aragon"
print(escuela)
print("-------")
edad = 13
estatura = 1.67
fumador= True
frase = """
Esta es una fase de multiples lineas y tambien 
es un tipo de dato

"""
print(frase)
nombre= 'Jose'
nombre_completo="Jose Sosa Cardenas"

Fes aragon
-------

Esta es una fase de multiples lineas y tambien
es un tipo de dato

# Print 
con comas ,

con signo mas +

con format() 

con el operador f""

In [2]:
# La como en print da un espacio entre las variables
print(nombre,edad)

Jose 13

In [3]:
# El + concadena
print (nombre + str (edad))
print (nombre + nombre_completo)

Jose13
JoseJose Sosa Cardenas

In [4]:
# Con formato --> Nombre: Su nombre es Jose y su edad es 13 años.
print("Su nombre es:",nombre,"y su edad es:",edad,"años.")
print ("Su nombre es: {0} y su edad es: {1} años.".format(nombre,edad))
print ("Su nombre es: {1} y su edad es: {0} años.".format(nombre,edad))
print ("Su nombre es: {} y su edad es: {} años.".format(nombre,edad))

Su nombre es: Jose y su edad es: 13 años.
Su nombre es: Jose y su edad es: 13 años.
Su nombre es: 13 y su edad es: Jose años.
Su nombre es: Jose y su edad es: 13 años.

# Caracter de escape
\n salto de linea

\t tabulador 

\a beep

\" imprimir comilla doble

In [5]:
"""
Esto es un cmentario de multiple linea
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 Jose

# Ayuda de tipos de datos en python
dir()

help()

In [ ]:
# str, int , float , bool....... list, dict, set
help(str)

In [6]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(),end="-----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [ ]:
help(print)

# Clase String 

Es manejado como un arreglo (c o java)
o lista aqui en (python)

telefono= "Huawei mate 30 pro"

print(telefono[0])

In [7]:
telefono= "Huawei mate 30 pro"

print(telefono[5])

i

In [8]:
print(telefono[7:11:1])
# El inicio y el incremento son opcionales
print(telefono[:11:])
# El valor por defecro es: el tamaño de la cadena
print(telefono[::])
# Incremento negativo
print(telefono[::-1])
ini = -3
inc=1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# Funciones de string (str)
Existen metodos muy utiles en esta clase.

In [14]:
# count cuenta el numero de elementos de la cedena
# find te dice el sub indice de la primera coincidencia
# index te dice el sub indice de la primera coincidencia
# strip remueve los espacios en blaco solo al princio y el final y los saltos de linea
# len  te regresa la longitud del string
# split corta el caracter seleccionado
facultad ="    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("e"))
print(facultad.find("s"))
print(facultad.index("d"))
print(facultad.strip())
tamaño=(len(facultad))
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.split("t"))
print(facultad.strip().split())# quita los espacios
print("---------")
#copiar lista 
otra_cadena=facultad
print(otra_cadena)
facultad="Fes aragon"
print(facultad)
print(otra_cadena)

#copiar listas 
colores= ["rojo","verde"]
otra=colores
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

4
17
11
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['    facul', 'ad de es', 'udios superiores aragon      \n']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
---------
    facultad de estudios superiores aragon

Fes aragon
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']