<a href="https://colab.research.google.com/github/christian-alexis/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# String continuacion.....

numeros_txt = "   1, 2 , 3, 4      , 5           , 35      , 15  ,  12"
print(numeros_txt)
# se le quita el pacio a la izquierda
numeros_txt = numeros_txt.lstrip().split(",")
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)

# funcion range 
#range(inicio,stop,incremento)
print(range(0,10,1))
rango= range(1,10,2)

for x in rango:
   print(x)

rango= range(10)
for x in rango:
   print(x)

   1, 2 , 3, 4      , 5           , 35      , 15  ,  12
['1', ' 2 ', ' 3', ' 4      ', ' 5           ', ' 35      ', ' 15  ', '  12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# listas
- mutables
-declaran con [ ]
- selector [int]

# Tuplas
- No mutables
- Declaran con ()
- selectos [int]

# Diccionarios
- Son mutables
- Son conjuntos de pares llave:valor
- Equivalentes a los objetos JSON de JavaScrip

# Conjuntos
- representan de la teoria de conjuntos

In [24]:
#listas  (Equivalentes a arreglos en otros lenguajes de programacion)
frutas= ["Pera", "Manzana","Fresa","Kiwi","Naranja"]
print(frutas)
cosas = ["cuaderno",2,3.1416,True,False,["Rojo","Azul"]]
print(cosas)
frutas[2]="Fresa" # frutas[2] = frutas[2].capitalize()
print(frutas)
# agregar a lista
# append siempre lo agrega al final 
frutas.append("Aguacate")
print(frutas)
# insert agrega a la lista en la posicion que quieras.
frutas.insert(2,"sandia")
print(frutas)

# concatena una lista
fecha = ["06","10","2020"] #06/10/2020
print(fecha)
fecha_str ="/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]

In [37]:
# Eliminar elementos de una lista 
# pop remueve (por defecto a la ultima pero tambien se le puede dar el indice que quieres quitar) y lo guarda en una variable 
cosas = ["cuaderno",2,3.1416,True,False,["Rojo","Azul"]]
print(cosas)
cosas.append("libro")
cosas.append("lapiz")
print(cosas)
algo= cosas.pop()
print(cosas)
print(algo)

algo= cosas.pop(2)
print(cosas)
print(algo)

# remove elimina el elemento que desees
cosas.remove(2)
print(cosas)

#clear vacia la lista
cosas.clear()
print(cosas)


# se ordena segun diccionario
# este metodo no funciona con valores convinados 
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'libro', 'lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'libro']
lapiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'libro']
[]
['Pera', 'Manzana', 'sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'sandia']

In [45]:
# Slicing
# ravana la lista 

cosas = ["cuaderno",2,3.1416,True,False,["Rojo","Azul"]]
print(cosas[3:5:1])# revanada
print(cosas)
print(cosas[0][3:5:1])# vuelves a iterar y ahora sacas la letra de un elemento


numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

print(numeros[8:13:1]) # del 8 al 12


#sustituir revanadas -2, -2 [0,1,2,3,4,5,6,7,-2,-2,13,14,15]
numeros [8:13:] =[-2,-2]
print(numeros)

# preguntar por existencia 
print(100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

# Listas multi dimencion 

listas dentro de listas

In [63]:
computadoras= ["HP","Mac book pro 17", "Mate book","Lenovo legion"  ]
oss = ["Windows 10", "Linux","Andrid", "IOS",]
computo =[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in computo[1])
dbms = [ ["Mysql","open source",False],["MS SQL Server","de paga",True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac book pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Andrid', 'IOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac book pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Andrid', 'IOS'], [['Mysql', 'open source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga

In [ ]:
help(list)